html5
   head
    title Comp Vision Projects - #{title}
   body
      h1 Project List
         div
            a(href="https://open.appacademy.io/learn/js-py---sep-2020-online/week-11-sep-2020-online/data-driven-apps---part-1") Project 1
         div
            a(href="") Project 2
