.main-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g h"
        "i j"
        "k k";
    background-image: url("https://miro.medium.com/max/2400/1*8gmgaAkFdI-9OHY5cA93xQ.png");
    min-height: 100vh;
}
.header * {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(247,248,249,1) 0%, rgba(134,139,143,1) 17%, rgba(10,18,17,1) 74%, rgba(10,6,18,1) 95%);
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'system-ui';
}

h1, h3 {
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color: white;
    height: 59.1px;
    padding-top:20px;
    padding-bottom: 5px;
}

h1 {
    font-size: xxx-large;
}

h3 {
    font-size:25px;
    height: 35px;
    padding-top: 0;
    padding-bottom: 20px;
}

body {
    margin: 0;
    font-family: 'system-ui';
    font-weight: bold;
}

main div {
    display: block;
    position: relative;
}
main div {
    margin:10px;
    background-color: rgba(255,255,255,0.6);
    border-radius:15px;
    border-color: transparent;
}


.assignment {
    font-size:20px;
    text-shadow: 2px 2px 7px black;
    display: block;
    text-align:center;
    background: linear-gradient(to bottom, var(--mainColor) 0%, rgb(0,0,0) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: #000;
  }

a {
    display: block;
    position:relative;
    text-align:center;
    font-size:18px;
    text-decoration: none;
    color: rgb(21,101,210);
}

  a:hover {
    color:#D21A94;
    -webkit-text-stroke: 2px var(--mainColor);
}

  @supports not(-webkit-text-stroke: 2px rgb(0, 255, 13)) {
    a:hover {
      text-shadow:
        3px 3px 0 var(--mainColor),
        -1px -1px 0 var(--mainColor),
        1px -1px 0 var(--mainColor),
        -1px 1px 0 var(--mainColor),
        1px 1px 0 var(--mainColor);
    }
  }


i {
    margin: 5px;
}

p {
    text-align: center;
}

div#one {
    grid-area: a;
    background-color: orange;
    background-color: rgba(255,255,255,0.45);
}

div#two {
    grid-area: b;
}

div#three {
    grid-area: c;
}

div#four {
    grid-area: d;
}
div#five {
    grid-area: e;
}
div#six {
    grid-area: f;
}
div#seven {
    grid-area: g;
}
div#eight {
    grid-area: h;
}
div#nine {
    grid-area: i;
}
div#ten {
    grid-area: j;
}
div#final {
    grid-area: k;
}
